# Python MySQL套件安裝方法請參考：https://segmentfault.com/a/1190000004143122

In [5]:
# import MySQLdb套件
import MySQLdb
# 對資料庫做連線，其中user填帳號passwd填密碼，db填建立好的db名稱(我先在MySQL建了一個名為stock_system的資料庫因此填stock_system)
db = MySQLdb.connect(host="localhost",user="root",passwd="19911115",db="stock_system",charset="utf8")
# 利用cursor()方法取得cursor物件，未來所有對資料庫的操作都要利用cursor.execute(sql)這段程式碼去執行SQL語句
cursor = db.cursor()
# 在Python中建立create table的字串如下
# create_sql="create table if not exists price (amount float,compno float,adj_close float,high float,low float,date datetime,close float,open float)"
table_name="price"
create_sql="create table if not exists {} (amount float,compno float,adj_close float,high float,low float,date datetime,close float,open float)".format(table_name)
print create_sql
# 在Python中建立load into table(將整個csv檔insert進入資料庫中的table，前提是table跟csv檔的schema要一致)的字串如下
# load_sql="load data local infile 'C:/Users/BIG DATA/Desktop/stock/price1_price2_price3_merged.csv'into table price fields terminated by ',' lines terminated by '\r'"
load_sql="load data local infile 'C:/Users/BIG DATA/Desktop/stock/price1_price2_price3_merged.csv'"
load_sql+="into table {} fields terminated by ',' ".format(table_name)
load_sql+="lines terminated by '\\r'"
print load_sql
# 執行create_sql
cursor.execute(create_sql)
# 執行load_sql
cursor.execute(load_sql)
# 關閉對資料庫的連線
db.close()

create table if not exists price (amount float,compno float,adj_close float,high float,low float,date datetime,close float,open float)
load data local infile 'C:/Users/BIG DATA/Desktop/stock/price1_price2_price3_merged.csv'into table price fields terminated by ',' lines terminated by '\r'

# 重複上述步驟，建立2005~2014年損益表table

In [3]:
import MySQLdb
db = MySQLdb.connect(host="localhost",user="root",passwd="19911115",db="stock_system",charset="utf8")
cursor = db.cursor()
year_list = ['2005','2006','2007','2008','2009','2010','2011','2012','2013','2014']
for ele in year_list:
    table_name="is{}".format(ele)
    create_sql="create table if not exists {} (compno float, compname varchar(20) not null, eps float, year varchar(10))".format(table_name)
    print create_sql
    load_sql="load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/{}.csv'".format(ele)
    load_sql+="into table {} fields terminated by ',' ".format(table_name)
    load_sql+="lines terminated by '\\r' ignore 1 lines"
    print load_sql
    #cursor.execute(create_sql)
    #cursor.execute(load_sql)
#db.commit()
db.close()

create table if not exists is2005 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2005.csv'into table is2005 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2006 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2006.csv'into table is2006 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2007 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2007.csv'into table is2007 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2008 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2008.csv'into table is2008 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2009 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2009.csv'into table is2009 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2010 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2010.csv'into table is2010 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2011 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2011.csv'into table is2011 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2012 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2012.csv'into table is2012 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2013 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2013.csv'into table is2013 fields terminated by ',' lines terminated by '\r' ignore 1 lines
create table if not exists is2014 (compno float, compname varchar(20) not null, eps float, year varchar(10))
load data local infile 'C:/Users/BIG DATA/Desktop/stock/is_utf8/2014.csv'into table is2014 fields terminated by ',' lines terminated by '\r' ignore 1 lines

In [44]:
db.commit()